#stage {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.stage-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stage {
  background-color: #fff;
  width: 45%;
  height: 70%;
  box-shadow: 0 3px 10px -5px black;
  padding: 25px 25px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    width: 55%;
  }

  @media (max-width: 720px) {
    width: 75%;
  }

}

.stage-entrance {
  background-image: url('/images/card-gate.jpg');
  background-size: cover;
  // filter: grayscale(60%)
}

.stage-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
  cursor: default;
}

.stage-level {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
