@keyframes fade-in {
  from {
    opacity: 0;
    top: 30px;
  }
  to {
    opacity: 1;
    top: 55px;
  }
}

#header {
  height: 65px;
  margin-top: 0;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 3px 1px #189577;
  position: relative;

  .header-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    font-size: 20px;
  }

  .header-user {
    margin-right: 15px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;

    &:hover {
      cursor: pointer;
      #dropdown {
        display: block;
        animation: fade-in 0.4s ease;
      }
    }
  }

  .header-nav {
    margin-left: 15px;
    position: absolute;
  }

}