#header {
  height: 65px;
  margin-top: 0;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 3px 1px #189577;

  .header-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    font-size: 20px;
  }

  .header-user {
    margin-right: 15px;
    position: relative;
  }

  .header-nav {
    margin-left: 15px;
  }

}