.signup-card {
  height: 55%;
  min-height: 480px;
  max-height: 540px;
  width: calc(335px - 35px);
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 3px #e7e7e7;
  padding: 15px 35px;
  color: #666;

  .input-error {
    color: crimson;
    font-size: 13px;
    margin-top: 5px;
  }

  &+div {
    width: 100%;
  }
}