#home {
  height: calc(100% - 60px);
  width: 100%;
}

#card-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  height: 100%;
  width: 2500px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
}