#home {
  height: calc(100% - (65px + 25px + 15px + 35px));
  width: 100%;
}

#card-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  height: 100%;
  width: 2500px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
}