.tag {
  height: 15px;
  border-radius: 5px;
  border: 1px solid #23D5AB;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3px 5px;
  font-size: 12px;
  margin-left: 5px;
}