.slider-custom {
  height: 100%;
  position: relative;
}

.slick-list {
  height: 100%;
  .slick-track {
    display: flex;
    flex-direction: row;
    height: 100%;
    .slick-slide {
      height: 100%;
      &>div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.card {
  background-color: #fff;
  height: 70%;
  max-height: 720px;
  width: 75% !important;
  min-width: 150px;
  max-width: 360px;
  border-radius: 20px;
  display: inline-block;
  overflow: hidden;
  transition: height .3s ease;
  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    height: 77.5%;
    cursor: pointer;
  }

  &.disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .card-name {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    text-transform: capitalize;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    &>div {
      margin-left: 15px;
    }
    &>div:last-child {
      margin-bottom: 15px;
    }
  }
}

.shine {
  &:after {
    content: '';
    position: absolute;
    bottom: -550px;
    left: -550px;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.4);
    transition: none;
  }
  &:hover:after {
    width: 1500px;
    height: 1500px;
    background-color: rgba(255,255,255,0);
    transition: all 1.2s ease;
    transition-delay: 0;
  }
}

.card-entrance {
  background-image: url('/images/card-gate.jpg');
  background-position: 40% 0%;
}

.card-highland {
  background-image: url('/images/card-highland.jpg');
  background-position: 90% 75%;
}

.card-frozen {
  background-image: url('/images/card-frozen.jpg');
  background-position: 40% 0%;
}

.card-blade {
  background-image: url('/images/card-blade.jpg');
  background-position: 40% 0%;
}

.card-bloodmoon {
  background-image: url('/images/card-bloodmoon.jpg');
  background-position: 40% 0%;
}

.card-vermillion {
  background-image: url('/images/card-vermillion.jpg');
  background-position: 70% 50%;
}

.ribbon{
  position: absolute;
  font-size: 18px;
}

/* ribbon-active */
.ribbon-countdown{
  width: 100%;
  height: 65px;
  background: #dc143c;
  top: 25px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ribbon-new {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 35px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23A6D5;
  box-shadow: 0 3px 10px -5px black;
  top: 7%;
  left: -35%;
}