#dropdown {
  display: none;
  position: absolute;
  width: 200px;
  right: 0px;
  top: 55px;
  background: white;
  box-shadow: 0 5px 20px -5px black;
  z-index: 9999;
  color: #333;

  &:hover {
    display: block;
  }

  .dropdown-item {
    color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 35px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    transition: color .3s ease;
    &:hover {
      cursor: pointer;
      color: #189577;
    }
    span {
      margin-left: 5px;
    }
  }
}