#level {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.level-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.level {
  background-color: #fff;
  width: 45%;
  height: 70%;
  box-shadow: 0 3px 10px -5px black;
  padding: 25px 25px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
}

.level-entrance {
  background-image: url('/images/card-gate.jpg');
  background-size: cover;
  // filter: grayscale(60%)
}

.level-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7.5px;
  color: #333;
  cursor: default;
}

.level-tags {
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.level-section-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .level-section-selector-item {
    color: #23D5AB;
    cursor: pointer;
    padding: 10px;
    transition: .3s ease;
    &:hover, &.selected {
      border-bottom: 1px solid #23D5AB;
    }
    &.selected {
      font-weight: bold;
    }
  }

}

#level-section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-top: 25px;
  overflow: auto;
  overflow-wrap: break-word;
}

.level-submission {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  .level-submission-input {
    border: 1px solid #23D5AB;
    border-radius: 5px;
    height: 35px;
    padding-left: 5px;
    width: 90%;
  }

  .level-submission-btn {
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    border-radius: 5px;
    height: 35px;
    text-transform: uppercase;
    transition: 0.5s ease;
    transition: all 0.45s;
    background-size: 400% 400%;
    cursor: pointer;
    color: #eee;
    width: 20%;
    margin-left: 15px;
    &:hover {
      animation: gradient 10s ease infinite;
    }
  }
}