#level {
  width: 100%;
  height: calc(100% - 60px);
}

.level-wrapper {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.level {
  background-color: #fff;
  width: 50%;
  height: 80%;
  box-shadow: 0 3px 10px -5px black;
  padding: 25px 25px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
