#about-wrapper {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #about {
    background-color: #fff;
    width: 50%;
    height: 85%;
    box-shadow: 0 3px 10px -5px black;
    padding: 25px 25px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      width: 65%;
    }

    @media (max-width: 720px) {
      width: 80%;
    }

    #title {
      margin-bottom: 25px;
      font-size: 36px;
    }

    #faq{
      // margin-bottom: 15px;

      a, a:visited {
        color: #189577;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      .header {
        font-size: 24px;
        text-align: left;
        margin-bottom: 5px;
      }

      .content {
        text-align: left;
        margin-bottom: 25px;
        line-height: 20px;

        .sub-content {
          margin-bottom: 5px;
        }
      }
    }

    .about-link {
      display: block;
      text-align: left;
      color: #189577;
      text-decoration: none;

      &:visited {
        color: #189577;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}