#card-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  height: 55%;
  min-height: 480px;
  max-height: 680px;
  width: calc(335px - 35px);
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 3px #e7e7e7;
  padding: 15px 35px;
  color: #666;

  &+div {
    width: 100%;
  }
}

.card-header {
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-input {
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
  &>* {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .input-label {
    margin-bottom: 7.5px;
    color: #999;
  }
  .input-form {
    background-color: transparent;
    background-image: linear-gradient(to right,#23A6D5 0,#23D5AB 100%);
    background-repeat: no-repeat;
    background-position: 0 calc(100% + 3px),0 0;
    background-size: 100% 3px;
    box-shadow: none;
    height: 27.5px;
    border: 0;
    outline: 0 none;
    transition: border-color .2s linear;
    border-bottom: 1px solid #999;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus {
      border-color: transparent;
    }
  }
}

@keyframes gradient {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.card-btn {
  background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  border-radius: 25px;
  height: 40px;
  text-transform: uppercase;
  transition: 0.5s ease;
  transition: all 0.45s;
  background-size: 400% 400%;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 650;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    animation: gradient 10s ease infinite;
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  div:first-child {
    margin-bottom: 5px;
    font-size: 14px;
  }
  div:last-child {
    font-size: 12px;
  }
}

.signup-link, .signup-link:visited  {
  color: #23A6D5  ;
  text-decoration: none;
  font-weight: 650;

}

.card-logo {
  display: block;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
}