@import './comopnents/styles';

@font-face {
  font-family: 'Open sans';
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf)
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-toast-body {
  text-align: center;
}

.toast-dark {
  background-color: #333 !important;
}